html{
    scroll-behavior:smooth;
}
body {
    overflow-x: hidden;
    width: 100%;
}

body {
    background-color: honeydew;
}

.display-3 {
    color: black;
}

.lead {
    color: black;
}

.social-icons {
    font-size: 60px;
}


.profile-img {
    max-width: 100%;
    height: auto;
    transform: rotate(10deg);   
}

.navbar {

    font-size: 20px;
}

.nav-link {
    position:relative;
}

.navbar-toggler {
    padding: 5px 5px;


}
.nav-link::after{
    content:"";
    position:absolute;
    width:0;
    height:2px;
    left:0;
    bottom:0;
    background:#0d6efd;
    transition:.3s;
}
.nav-link:hover::after{
    width:100%;
}

.text-dark {
    position: relative;
    top: 40px;
}

@media (max-width: 768px) {
    .profile-img {
         transform: rotate(0deg);
    }
}

@media (max-width: 768px) {
    .social-icons {
       justify-content: center;
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 0px;
    }
}

.about-content {
    font-size: 22px;
    position: relative;
    bottom: 50px;
    color: grey;
}

.about-list {
    position: relative;
    bottom: 70px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .list-unstyled {
        position: relative;

        font-size: 20px;
    }
}

@media(max-width:768px) {

    .about-content {
       width: 100%;
       

    }
}

.content {
    font-size: 20px;
    color: grey;
}

.choose-card {
    height: 200px;
    border-radius: 20px;
    background-color: lavender;
    border: 2px solid #0d6efd;
    animation: float 2s ease-in-out infinite;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}
.icon-edu{
    font-size: 60px;
}

.skill-section{
    padding: 50px 20px;
    text-align: center;
}
.full-skill{
    font-size: 35px;
    margin-bottom: 20px;
}
.sub-title{
    display: inline-block;
    background-color: #7b2cbf;
    color: white;
    padding: 4px 25px;
    border-radius: 8px;
    margin-bottom: 50px;
}

.skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
       gap: 10px;/* reduced from 80px */
    position: relative;
}

@media(max-width:768px){
    .skill-container{
        flex-direction: column;
        gap: 30px;
    }

}

.skill-card{
    position: relative;
    
    width: 400px;
    opacity: 0;
    transform: translateY(50px);
    animation: skillFadeUp 1s ease forwards;
    transition: transform 0.4s ease;
}
.front-end-title{
    color: coral;
}
.back-end-title{
    color: cornflowerblue;
}
.test-title{
    color: forestgreen;
}

.skill-card:nth-child(1){
    animation-delay: 0.2s;
}

.skill-card:nth-child(2){
    animation-delay: 0.5s;
}

.skill-card:nth-child(3){
    animation-delay: 0.8s;
}

.skill-card:hover{
    transform: translateY(-15px);
}

.icons i{
    font-size: 25px;
    transition: all 0.3s ease;
}

.icons i:hover{
    transform: scale(1.2);
}


.skill-card:hover .platform{
    box-shadow:
        0 0 15px rgba(255,255,255,0.7),
        0 0 30px rgba(255,255,255,0.4);
}

@keyframes skillFadeUp{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.tool-icon{
    font-size: 25px;
}
.skill-card-4{
    max-width: 400px;
    margin: auto;
    left: 0;
    opacity: 0;
    transform: translateY(50px);
    animation: skillFadeUp 1s ease forwards;
    transition: transform 0.4s ease;
}
.work-card{
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 3px solid transparent;
    background-image:
        linear-gradient(white, white),
        linear-gradient(135deg,#0d6efd,#7b2cbf,#06b6d4);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: .4s;
}

.work-card:hover{
    transform:translateY(-10px);
}
.container-con{
    width:50%;
    position: relative;
    left: 26%;
    bottom: 30px;
    background:cornflowerblue;
     border: 1px solid #ddd;
    border-radius: 30px;
}
@media(max-width:768px){

.container-con{
    width:90%;
    left:5%;

}

}
.contact-sec{
    background:rgb(240, 243, 244);
}
.icon-bi{
    font-size: 18px;
}

.works-list{
    position: relative;
    margin-bottom: 10px;
}
.get-in-so{

    position: relative;
    bottom: 170px;
    font-size: 30px;
}

.g-mail{
    font-size: 14px;
}
.lead-sort{
    font-size: 16px;
}
.selenium-icon{
    font-size:48px;
}