.bg-Sec{
    background:#f7f9f8;
    padding:40px 0;
}


/* TOP SECTION */

.hero-card{
    position:relative;
    height:290px;
}

.c-img{
    width:100%;
    height:290px;
    object-fit:cover;
    border-radius:15px;
}


.profile-wrap{
    position:absolute;
    bottom:-85px;
    left:50px;
    width:180px;
    height:180px;
    border-radius:50%;
    background:white;
    padding:2px;
}


.p-img{
    width:100%;
    height:100%;
    border-radius:50%;
    object-fit:cover;
}


/* SOCIAL CARD */


.soc-head{
    background:white;
    padding:25px;
    margin-top: 30px;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}


.url-tit{
    font-size:22px;
    font-weight:700;
    margin-bottom:20px;
}


.url-tit::after,
.look-for::after,
.pref-loc h4::after{
    content:"";
    display:block;
    width:45px;
    height:3px;
    background:#087f5b;
    margin-top:10px;
}



.url-links{
    font-size:17px;
    font-weight:500;
    border-bottom:1px solid #eee;
    padding:15px 0;
}


.url-links svg{
    color:#087f5b;
    margin-right:18px;
    font-size:22px;
}


.link-s{
    text-decoration:none;
    color:#222;
}




/* PROFILE SECTION */


.profi-tit{
    margin-top:50px;
}


.p-col,
.pref-job,
.pref-loc{
    background:white;
    padding:15px;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,.07);
}



.p-col{
    border-left:4px solid #087f5b;
}


.pro-name{
    font-size:36px;
    font-weight:700;
}


.pro-role{
    color:#087f5b;
    font-size:20px;
    font-weight:600;
}


.pro-add{
    margin-top:20px;
    font-size:16px;
}


.pro-add svg{
    color:#087f5b;
    margin-right:10px;
}


.pro-sum{
    margin-top:25px;
    line-height:1.7;
    color:#374151;
    font-size:17px;
}



/* ROLE */


.pref-job{
    margin-bottom:15px;
}


.look-for,
.pref-loc h4{
    font-size:22px;
    font-weight:700;
}


.role-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}


.job-look{
    display:flex;
    align-items:center;
    gap:15px;
    font-size:16px;
}


.job-look svg{
    background:#e8f5ef;
    color:#087f5b;
    padding:10px;
    width:45px;
    height:45px;
    border-radius:8px;
}



.pref-loc p{
    margin-top:20px;
    font-size:17px;
}


.pref-loc svg{
    color:#087f5b;
    margin-right:10px;
}


.pref-loc span{
    margin:0 15px;
    color:#087f5b;
}



/* RESPONSIVE */


@media(max-width:991px){

    .hero-card{
        margin-bottom:70px;
    }


    .profile-wrap{
        left:50%;
        transform:translateX(-50%);
    }


    .soc-head{
        margin-top:20px;
    }


    .p-row{
        gap:20px;
    }

}



@media(max-width:576px){

    .bg-Sec{
        padding:20px 10px;
    }


    .hero-card,
    .c-img{
        height:180px;
    }


    .profile-wrap{
        width:120px;
        height:120px;
        bottom:-35px;
    }



    .p-col,
    .pref-job,
    .pref-loc,
    .soc-head{
        padding:20px;
    }


    .pro-name{
        font-size:26px;
    }


    .pro-role{
        font-size:16px;
    }


    .role-grid{
        grid-template-columns:1fr;
    }


    .pref-loc p{
        line-height:2;
    }


    .pref-loc span{
        margin:0 8px;
    }

}