*,
*::before,
*::after{
    box-sizing:border-box;
}

html,
body{
    width:100%;
    overflow-x:hidden;
      scroll-behavior:smooth;
      background:honeydew;
     box-sizing: border-box;
     overflow-x: hidden;
  max-width: 100%;

}
